<!DOCTYPE html>
<head>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}"
  />
  <title>Ajout de soigneur - Zoo</title>
</head>
<body>
  <nav>
    <img src="image/logo.png" />
    <h1 class="Texte">Ajout de soigneur</h1>
  </nav>
  <center>
    <h1 class="Texte">Ajouter un soigneur dans la base de données</h1>
    <form>
      <div class="coolinput">
        <input type="text" placeholder="Nom" class="input" />
      </div>
      <br />
      <div class="coolinput">
        <input type="text" placeholder="Prénom" class="input" />
      </div>
      <br />
      <div class="coolinput">
        <input type="text" placeholder="Grade" class="input" />
      </div>
      <br />
      <button>Envoyer</button>
    </form>
  </center>
</body>
