<!DOCTYPE html>
<html>
  <head>
    <link
      href="{{ url_for('static', filename='css/style.css') }}"
      rel="stylesheet"
    />
    <title>Menu - Zoo</title>
  </head>

  <body>
    <header>
      <nav>
        <img src="{{ url_for('static', filename='image/logo.png') }}" />
        <button class="centre">Connexion</button>
      </nav>
      <br />
      <a class="Texte"
        >Bienvenue sur le site officiel du Zoo de Zoolandia ! Plongez dans un
        univers fascinant où la nature et la conservation se rencontrent. Notre
        zoo abrite une variété impressionnante d'animaux issus des quatre coins
        du monde, offrant une expérience unique aux visiteurs de tous âges.
        Découvrez nos enclos immersifs, participez à nos activités éducatives et
        apprenez-en davantage sur les efforts de protection des espèces
        menacées. Que vous veniez en famille, entre amis ou en solo, nous avons
        de nombreuses surprises en réserve ! Rejoignez-nous pour une journée
        d’aventures inoubliables et engagez-vous avec nous pour un avenir plus
        durable. Votre visite contribue directement à la préservation de la
        faune et à l'éducation des générations futures. Préparez-vous à
        explorer, à apprendre et à vous émerveiller !</a
      >
    </header>
    <br />

    <img src="{{ url_for('static', filename='image/zoo.jpg') }}" />
  </body>
</html>
